.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}
.gallery img {
  position: relative;
  width: 100%;
  transition: transform 0.2s ease;
  cursor: pointer;
}
.gallery img:hover {
  transform: scale(1.05);
}
