.pricelist {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}

@media screen and (min-width: 992px) {
  .pricelist {
    grid-template-columns: repeat(3, 1fr);
  }
}

.price-item {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e47171;
  border-radius: 0.3rem;
}

.price-item__heading {
  text-align: center;
  margin-top: 2rem;
  font-weight: normal;
  text-transform: uppercase;
}

.price-item__desc {
  text-align: center;
  line-height: 1.5rem;
  flex-grow: 1;
}

.price-item__img {
  width: 250px;
  border-radius: 50%;
}

.price-item__price {
  font-size: 1.2rem;
  font-weight: bold;
}
